<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method="POST" action="/new">
       <h3>New message!</h3>
       <input name="user" id="user-input">
       <input name="message" id="message-input">
       <button class="submit-btn" type=submit>Submit Message!</button>
    </form>
  </body>
</html>